@tailwind base;
@tailwind components;
@tailwind utilities;

.slide_bg1 {
    background-image: url('../assets/image/slide1.jpg');
}
.slide_bg2 {
    background-image: url('../assets/image/slide2.jpg');
}
.slide_bg3 {
    background-image: url('../assets/image/slide3.jpg');
}
.slide_bg4 {
    background-image: url('../assets/image/slide4.jpg');
}
.bg_properties {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}