@tailwind base;
@tailwind components;
@tailwind utilities;

.slide_bg1 {
    background-image: url('https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg');
}
.slide_bg2 {
    background-image: url('https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg');
}
.slide_bg3 {
    background-image: url('https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg');
}
.slide_bg4 {
    background-image: url('https://daisyui.com/images/stock/photo-1494232410401-ad00d5433cfa.jpg');
}
.bg_properties {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}